* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    text-align: center;
    /* background: linear-gradient(#f304e7 -10%, #cf1717 100%); */
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  img {
    width: 100%;
    max-width: 400px;
    padding: 50px;
  }